.wrapper {
    background-color: rgb(63, 93, 127);
    grid-column: span 4;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 100px 1fr 100px;
}
.logo {
    width: 60px;
    /*height: 80px;*/
    display: inline-block;
    align-self: center;
    justify-self: center;
}
.title {
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    justify-self: center;
    align-self: center;
    font-family: 'Special Elite', cursive;
    font-weight: bold;
}
.loginBlock {
    font-size: 26px;
    justify-self: end;
    /*align-self: end;*/
}
.logoLink {
    display: block;
    color: aqua;
    text-decoration: none;
    margin-top: 5px;
    margin-right: 15px;
}