.wrapper {
    background-color: transparent;
    font-size: 24px;
    grid-row: 2 / 2;
    grid-column: 2 / 3;
    font-family: 'Special Elite', cursive;
}

.list {
    list-style-type: none;
}

.item {
    transition: 0.3s;
    cursor: pointer;
}

.item:hover {
    background-color: #cececeab;
}

.itemRef {
    padding: 10px 70px 10px 10px;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    color: #2a5885;
    transition: 0.2s;
    width: 100%;
    height: 100%;
}

a.active {
    color: darkgoldenrod;
    font-weight: bold;
}

.item:not(:last-child) {
    margin-bottom: 10px;
}