.selectedPage {
    font-size: 32px;
    font-weight: bold;
}
.btnPrev {
    margin-right: 20px;
}

.btnNext {
    margin-left: 10px;
}

.listPageNumber {
    margin-bottom: 30px;
}

.pageNumber {
    font-size: 28px;
    margin-right: 10px;
    cursor: pointer;
}