.app {

}

.mainWrap {
    margin: auto;
    display: grid;
    height: 100%;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 1fr 4fr 1fr;
    grid-gap: 10px;
    background-color: #edeef0;
}

.contentWrap {
    background-color: antiquewhite;
    grid-column: 3 / 4;
    border-radius: 4px;
    box-shadow: 0 0 3px 1px black, 0 0 5px 0px white;
    padding: 20px 20px;
}